<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/34bf661d-0f06-48d5-a9b5-abf962002eef/resourceGroups/Shooting-Range-Resource-Group/providers/Microsoft.Web/sites/Shooting-Range</ResourceId>
    <ResourceGroup>Shooting-Range-Resource-Group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://shooting-range.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>shooting-range.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Shooting-Range</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Shooting-Range</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Context" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:shooting-range-dbserver.database.windows.net,1433;Initial Catalog=shooting_range_db;User ID=loaderon@shooting-range-dbserver;Password=G3iTTcNRZRnUxnR" Name="Data Source=tcp:shooting-range-dbserver.database.windows.net,1433;Initial Catalog=shooting_range_db;User Id=loaderon@shooting-range-dbserver;Password=G3iTTcNRZRnUxnR" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="poligonotiro.Models.Context, poligonotiro" MigrationConfiguration="poligonotiro.Migrations.Configuration, poligonotiro" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:shooting-range-dbserver.database.windows.net,1433;Initial Catalog=shooting_range_db;User Id=loaderon@shooting-range-dbserver;Password=G3iTTcNRZRnUxnR</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>