
@{
    ViewBag.Title = "Polígono";
}

    <body style="background: url(/Content/images/apuntando.jpg); background-size: cover; background-position: center;">
        <h2 style="color: white;">Bienvenidos</h2>
    </body>

